body {
    font-family: sans-serif;
    margin: 5px;
	overflow-y: scroll;
}

thead th {
    text-align: left;
    padding-top: 10px !important;
	padding-bottom: 10px !important;
}

td {
    border-left: 1px solid #ccc
}

td:first-child {
    border-left: none
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #fff !important
}

table.dataTable.stripe tbody tr.even,
table.dataTable.display tbody tr.even {
    background-color: #ddd !important
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #daffd9 !important
}

table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #a6eda4 !important
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background-color: #b8bfff !important
}

table.dataTable.display tbody tr > .sorting_1,
table.dataTable.order-column.stripe tbody tr>.sorting_1 {
    font-weight: bold;
}

th select {
    width: calc(100% + 15px);
    margin-top: 10px;
    font-size: 16px;
}

a,
a:active,
a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}

#t_filter {
	position: absolute;
	top: -40px;
	right: 0;
}

#t_length,
#t_paginate {
	display: none;
}

h1 {
	margin-bottom: 10px;
	float: left;
}

#t_info {
	margin-bottom: 10px;
}

table.dataTable thead .sorting_asc {
	background-image: url("sort_asc.png") !important;
	background-position: top right !important;
}

table.dataTable thead .sorting_desc {
	background-image: url("sort_desc.png") !important;
	background-position: top right !important;
}

table.dataTable thead .sorting {
	background: none;
}

button#new_index {
    font-size: 10px;
}

#f select {
    display: none;
}

td.i {
	font-style: italic;
}

th, td {
    padding-right: 20px !important;
    padding-left: 5px !important;
}
